- content_for :javascripts do
  :javascript
    window.tetris_colors = {color1: "blue", color2: "green", color3: "red" }
    window.drawTetrisChart('#tetris_chart', 10, 20, #{28}, #{41});
    
  
#tetris_chart

  
#tetris_chart_via_plugin
