/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/


html,body {
  height: 100%;
}

body {
  padding-top: 60px;
  font: 0.75em/1.4em  Arial, "Tahama", "Sans Serif";
  background: #f0efee;
}

#wrap {
    min-height: 100%;
}

#container-wrap {
    padding-top: 10px;
    padding-bottom: 50px;
}

#footer {
    clear: both;
    text-align: center;
    
    height: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    
    position: relative;
    margin-top: -40px;
}

.text_area {
  width: 750px;
  height: 100px;
}

